<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/lists.css')}}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Lists</title>
</head>
<body>
    <header>
        <h1>
            Here are your lists
        </h1>
        <nav>
            <button id="open-list-creator-modal">
                <ion-icon name="add-outline"></ion-icon>
                Create A List
            </button>
        </nav>
    </header>
    <div class="modal">
        <form action="{{url_for('lists')}}" method="POST">
            <header>
                <h3>Create a New List</h3>
                <button id="close-list-creator-modal">
                    <ion-icon name="close-outline"></ion-icon>
                </button>
            </header>
            <input style="width:50%" type="text" placeholder="Enter A Name" name="list-name">
            <label for="list-priority">Set a Priority</label>
            <input style="width:50%" type="range" min="1" max="10" value="1" placeholder="Select a Priority (1->10!)" name="list-priority">
            <input type="submit" style="width:50%">
        </form>
    </div>
</body>
</html>